{% extends 'base.html.twig' %}

{% block title %}{{ 'Liste utilisateurs'|trans }}{% endblock %}

{% block body %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"
            xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stupidtable/1.1.3/stupidtable.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <div class="ajout">
        <form method="post" action="{{ path('admin.add-user') }}">
            <input name="email" type="email" maxlength="50" placeholder="{{ 'Email'|trans }}">
            <input name="password" type="password" maxlength="50" placeholder="{{ 'Mot de passe'|trans }}">
            <input name="nom" type="text" placeholder="{{ 'Nom'|trans }}">
            <input name="prenom" type="text" placeholder="{{ 'Prénom'|trans }}">
            <select name="role">
                <option value="ROLE_USER">{{ 'Utilisateur'|trans }}</option>
                <option value="ROLE_ADMIN">{{ 'Admin'|trans }}</option>
            </select>
            <button class="btn-admin"><i class="icon-admin-add fa fa-plus"></i></button>
        </form>
    </div>
    <div class="container">
        <table class="admin-list" id="list">
            <thead>
            <tr>
                <th data-sort="int"><i class="fa fa-sort"></i> {{ 'Id'|trans }}</th>
                <th data-sort="string"><i class="fa fa-sort"></i> {{ 'Email'|trans }}</th>
                <th data-sort="string"><i class="fa fa-sort"></i> {{ 'Nom'|trans }}</th>
                <th data-sort="string"><i class="fa fa-sort"></i> {{ 'Prénom'|trans }}</th>
                <th data-sort="string"><i class="fa fa-sort"></i> {{ 'Role'|trans }}</th>
                <th>{{ 'Modifier'|trans }}</th>
                <th>{{ 'Supprimer'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="admin-list">
                    <form method="post" action="{{ path('admin.edit-user', {id: user.id}) }}">
                        <td><input name="id" type="number" maxlength="50" value="{{ user.id }}" disabled></td>
                        <td><input name="email" type="text" maxlength="50" value="{{ user.email }}"></td>
                        <td><input name="nom" type="text" value="{{ user.nom }}"></td>
                        <td><input name="prenom" type="text" value="{{ user.prenom }}"></td>
                        <td>
                            <select name="role">
                                <option {% if user.roles[0] == 'ROLE_USER' %}selected{% endif %} value="ROLE_USER">{{ 'Utilisateur'|trans }}</option>
                                <option {% if user.roles[0] == 'ROLE_ADMIN' %}selected{% endif %} value="ROLE_ADMIN">{{ 'Admin'|trans }}</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn-admin"><i class="icon-admin-edit fa fa-pencil"></i></button>
                        </td>
                    </form>
                    <form method="post" action="{{ path('admin.delete-user', {id: user.id}) }}">
                        <td>
                            <button class="btn-admin"><i class="icon-admin-remove fa fa-remove"></i></button>
                        </td>
                    </form>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function($) {
            $("#list").stupidtable();
        });
    </script>
{% endblock %}
