{% extends 'base.html.twig' %}
{% block title %}Liste des cryptos{% endblock %}
{% block body %}
    <div class="detail">
        <h1>{{ crypto.nom }}</h1>
        <h2>Devise : {{ crypto.devise }}</h2>
        <h2>Prix : {{ crypto.prix }} €</h2>
        <h2>Quantite : {{ crypto.quantite }}</h2>
        <h2>Capitalisation : {{ crypto.capitalisation }}</h2>
        <div class="btn">
            <a class="bouton" type="button" href="{{ path('crypto.list') }}">
                <p class="text-bouton">Retour</p>
            </a>
        </div>
    </div>
    <div class="commentaires">
       {% for commentaire in commentaires %}
              <div class="commentaire">
                     <h2 class="auteur">{{ commentaire.user.id }}</h2>
                     <p class="text-commentaire">
                            {{ commentaire.description }}
                     </p>
              </div>
       {% endfor %}
    </div>


{% endblock %}