{% extends 'base.html.twig' %}
{% block title %}{{ 'Detail crypto'|trans }}{% endblock %}
{% block body %}
    <div class="detail">
        <h1>{{ crypto.nom }}</h1>
        <h2>{{ 'Devise'|trans }} : {{ crypto.devise }}</h2>
        <h2>{{ 'Prix'|trans }} : {{ crypto.prix|number_format(10, '.', ' ') }} €</h2>
        <h2>{{ 'Quantité'|trans }} : {{ crypto.quantite|number_format(0, '.', ' ') }}</h2>
        <h2>{{ 'Capitalisation'|trans }} : {{ crypto.capitalisation|number_format(0, '.', ' ') }}</h2>
        <div class="btn">
            <a class="bouton" type="button" href="{{ path('crypto.list') }}">
                <p class="text-bouton">{{ 'Retour'|trans }}</p>
            </a>
        </div>
        {% if user is defined %}
            {% set trouve = false %}
            {% for favori in user.favoris %}
                {% if favori.devise == crypto.devise %}
                    {% set trouve = true %}
                {% endif %}
            {% endfor %}
            {% if trouve == true %}
                <div class="btn">
                    <a class="bouton" type="button" href="{{ path('user.retirer-favoris', {devise: crypto.devise}) }}">
                        <p class="text-bouton">{{ 'Retirer des favoris'|trans }}</p>
                    </a>
                </div>
            {% else %}
                <div class="btn">
                    <a class="bouton" type="button" href="{{ path('user.ajouter-favoris', {devise: crypto.devise}) }}">
                        <p class="text-bouton">{{ 'Ajouter au favoris'|trans }}</p>
                    </a>
                </div>
            {% endif %}

        {% endif %}
    </div>
    <div class="commentaires">
           {% if app.user.username is defined %}
               <div class="commentaire">
                   <form method="post" action="{{ path('user.ajouter-commentaire', {crypto: crypto.id}) }}">
                       <textarea name="nouveau-commentaire" placeholder="{{ 'Écrivez votre commentaire'|trans }}"></textarea>
                       <input type="submit" value="{{ 'Ajouter'|trans }}">
                   </form>
               </div>
           {% endif %}
           {% for commentaire in commentaires %}
                  <div class="commentaire">
                         <h2 class="auteur">{{ commentaire.user.prenom }} {{ commentaire.user.nom }}</h2>
                         <h4>{{ commentaire.getDatePublication().format('d/m/Y') }}</h4>
                         <p class="text-commentaire">
                                {{ commentaire.description }}
                         </p>
                  </div>
           {% endfor %}
    </div>


{% endblock %}