{% extends 'base.html.twig' %}
{% block title %}{{ 'Accueil'|trans }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="txt">
            <p>
                {{ 'Une nouvelle'|trans }}
                <span class="couleur">{{ 'façon'|trans }} </span>
                {{ 'de visualiser la monnaie virtuel, la'|trans }}
                <span class="couleur"> crypto</span>
            </p>
        </div>
        <div class="image">
            <img src="{{ asset('images/logo.png') }}">
        </div>
    </div>
{% endblock %}
