<!DOCTYPE html>
<html id="html">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <script type="text/javascript" src="{{ asset('js/swup.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon-32x32.png') }}" />
        <script>
            let name = 'theme' + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    if (c.substring(name.length, c.length) == 'dark') {
                        document.documentElement.style.setProperty('--color', '#444444');
                        document.documentElement.style.setProperty('--color2', '#000000');
                        document.documentElement.style.setProperty('--color3', '#555555');
                        document.documentElement.style.setProperty('--color4', 'rgba(0,0,0,0.2)');
                    }
                }
            }



        </script>
        <script type="module">
            const swup = new Swup
            console.log(swup);
        </script>
    </head>
    <body>
        <div class="navbar">
            <h1>Crypto.fr</h1>
            <ul>
                <li><a href="{{ path('crypto') }}">{{ 'Accueil'|trans }}</a></li>
                <li><a href="{{ path('crypto.list') }}">{{ 'Les cryptos'|trans }}</a></li>
                {% if app.user.roles is defined %}
                    {% if app.user.roles[0] == "ROLE_ADMIN" %}
                        <li><a href="{{ path('admin.index') }}">Admin</a></li>
                    {% endif %}
                {% endif %}
            </ul>
                <div class="inscription-connexion">
                            {% if app.user.username is defined %}
                                <div class="btn">
                                    <a class="bouton" type="button" href="{{ path('user.compte') }}">
                                        <p class="text-bouton">{{ 'Mon Compte'|trans }}</p>
                                    </a>
                                </div>
                                <div class="btn">
                                    <a data-no-swup="" class="bouton" type="button" href="{{ path('user.logout') }}">
                                        <p class="text-bouton">{{ 'Se deconnecter'|trans }}</p>
                                    </a>
                                </div>
                            {% else %}
                                <div class="btn">
                                    <a class="bouton" type="button" href="{{ path('crypto.inscription') }}">
                                        <p class="text-bouton">{{ "S'incrire"|trans }}</p>
                                    </a>
                                </div>
                                <div class="btn">
                                    <a class="bouton" type="button" href="{{ path('user.login') }}">
                                        <p class="text-bouton">{{ 'Se connecter'|trans }}</p>
                                    </a>
                                </div>
                            {% endif %}
                </div>
                <div class="lang">
                    {% for locale in locales %}
                        {% if locale != app.request.locale %}
                            <a href="{{ path('change_locale', {'locale': locale}) }}">
                                {% if app.request.locale == 'en' %}
                                    <img width="30px" height="30px" src="{{ asset('images/la-france.png') }}">
                                {% else %}
                                    <img width="30px" height="30px" src="{{ asset('images/royaume-uni.png') }}">
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="theme">
                    {% if app.request.cookies.get('theme') is null %}
                        <a href="{{ path('change_theme', {'theme':'light'}) }}">
                            <i class="fa fa-moon-o fa-2x rotate" style="color: black"></i>
                        </a>
                    {% else %}
                        {% if app.request.cookies.get('theme') == 'light' %}
                            <a href="{{ path('change_theme', {'theme': app.request.cookies.get('theme')}) }}">
                                <i class="fa fa-moon-o fa-2x rotate" style="color: black"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('change_theme', {'theme': app.request.cookies.get('theme')}) }}">
                                <i class="fa fa-sun-o fa-2x rotate"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
        </div>
        <div id="swup" class="transition-slide">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
